*{
	font-family: sans-serif;
	margin: 0px;
}
.head{
	background-image: url("image/img1.jpg");
	width: 100%;
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
}
.headcn{
	padding-top: 10%;
	padding-right: 10%;
	font-size: 40px;
	font-weight: 800;
	text-align: right;
}
.con1{
	margin: 40px;
    background-image: url(image/img2.jpg);
    width: 46%;
    height: 556px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 170px;
    padding-top: 50px;
}
.con1cn{
	width: 500px;
    margin-top: 100px;
    margin-left: 500px;
    background-color: #303a45;
    color: #48c3f9;
    padding: 30px;
    word-spacing: 5px;
    line-height: 35px;
}
.text1{
	padding-left: 20%;
	padding-right: 20%;
	word-spacing: 5px;
	line-height: 25px;
	padding-bottom: 35px;
   	padding-top: 35px;
}
.con2{
	background-image: url(image/img3.jpg);
	width: 100%;
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}
.text2{
	padding-left: 20%;
	padding-right: 20%;
	word-spacing: 5px;
	line-height: 25px;
	padding-bottom: 35px;
   	padding-top: 35px;
}
.con3{
	height: 500px;
	display: flex;
	flex-direction: row;
}
.con3l{
	background-image: url(image/img4.jpg);
	width: 50%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}
.con3l p{
	margin: 7%;
	padding: 16%;
	background-color: black;
	color: white;
	opacity: 70%;
}
.con3r{
	background-image: url(image/img5.jpg);
	width: 50%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}
.con3r p{
	margin: 7%;
	padding: 16%;
	background-color: black;
	color: white;
	opacity: 70%;	
}
.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.ftr1{
	text-align: center;
}
.join1{
	font-size: 25px;
	margin-bottom: 20px;
}
.join{
	padding: 13px;
	width: 120px;
	color: #e1cb00;
	border: 2px solid #e1cb00;
}
.ftr2{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.ftr2l{
	text-align: center;
	padding: 15px;
}
.ftr2r{
	text-align: center;
	padding: 15px;
}
@media (max-width: 800px){
	.head{
		height: 185px;
	}
	.headcn{
		padding-top: 5%;
		padding-right: 5%;
		font-size: 18px;
		font-weight: 800;
		text-align: right;
	}
	.headcn img{
		width: 120px;
	}
	.con1{
		margin: 20px;
	    width: 46%;
	    height: 85px;
	    padding-top: 50px;
	    margin-bottom: 35px;
	}
	.con1cn{
		width: 120%;
	    margin-top: 1px;
    	margin-left: 56%;
    	padding: 10px;
	    line-height: 13px;
    	font-size: 10px;
	    word-spacing: 0px;
	}
	.con2{
		height: 200px;
	}
	.text2 , .text1{
	    padding-left: 5%;
    	padding-right: 5%;
    	word-spacing: 1px;
    	line-height: 15px;
    	padding-bottom: 15px;
    	padding-top: 15px;
    	font-size: 13px;
	}
	.con3{
		height: 480px;
		flex-direction: column;
	}
	.con3l{
		width: 100%;
		height: 240px;
	}
	.con3l p,.con3r p{
		margin: 7%;
		padding: 10%;
		background-color: black;
		color: white;
		opacity: 70%;
		font-size: 11px;
	}
	.con3r{
		width: 100%;
		height: 240px;
	}
	.ftr2{
		flex-direction: column;
	}
}